body{ 
  background-color: rgba(204, 200, 200, 0.3);
}


main{
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: 500;
}
.header h1{
  color: #fff;
  text-shadow: none;
  font-size: 40px;
}
h2 {
  font-family: arial;
  color: #db0a2d;
  text-shadow: 2px 2px 2px rgb(208, 207, 207);
}
h1 {
  text-align: center;
  font-weight: 600;
  color: #db0a2d;
  font-family: arial;
  text-shadow: 2px 2px 2px rgb(160, 160, 160);
}
.tabel {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: arial, sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabel thead tr {
  background-color: rgb(228, 17, 17);
  color: #ffffff;
  text-align: left;
}
.tabel th,
.tabel td {
    padding: 12px 15px;
}
.tabel tbody tr:nth-of-type(even) {
  background-color: rgb(255, 266, 2);
}
.tabel tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 226, 2);
}
.tabel tbody tr:last-of-type {
  border-bottom: 2px solid rgb(228, 17, 17);
}
.header {
  overflow: hidden;
  background-color: red;
  padding: 20px 10px;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
.header {
  background-color: #db0a2d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
}
.logo h1 {
  margin-left: 10px;
  font-size: 1.5em;
}
.header img {
  max-width: 50px;
  height: auto;
  margin-left: 150px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
}

nav a:hover {
  color: #ffffff;
  font-size: 22px;
}